<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <div class="row">
            <div class="col-md-8 mb-4">
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h5 class="mb-0">Biling details</h5>
                </div>
                <div class="card-body">
                  <form>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form7Example1" class="form-control" name="full_name" value="{{data.full_name}}" />
                          <label class="form-label" for="form7Example1">Full name</label>
                        </div>
                      </div> 
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form7Example2" class="form-control"  name="phone" value="{{data.phone}}" />
                          <label class="form-label" for="form7Example2">Phone No</label>
                        </div>
                      </div>
                    </div>
          
                    {% comment %} <!-- Text input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="form7Example3" class="form-control" />
                      <label class="form-label" for="form7Example3">Email</label>
                    </div> {% endcomment %}

                     <!-- Email input -->
                     <div class="form-outline mb-4">
                        <input type="email" id="form7Example5" class="form-control" name="email"  value="{{data.email}}"/>
                        <label class="form-label" for="form7Example5">Email</label>
                      </div>
          
                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="form7Example4" class="form-control" name="u_address"  value="{{data.u_address}}"/>
                      <label class="form-label" for="form7Example4">Address</label>
                    </div>
          
                   
          
                    <!-- Number input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="form7Example6" class="form-control" name="state" value="{{data.state}}" />
                      <label class="form-label" for="form7Example6">State</label>
                    </div>



                    <div class="form-outline mb-4">
                        <input type="text" id="form7Example6" class="form-control" name="district"  value="{{data.district}}"/>
                        <label class="form-label" for="form7Example6">District</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="text" id="form7Example6" class="form-control"  name="city" value="{{data.city}}" />
                        <label class="form-label" for="form7Example6">City</label>
                      </div>

                      <div class="form-outline mb-4">
                        <input type="number" id="form7Example6" class="form-control" name="pin" value="{{data.pin}}"/>
                        <label class="form-label" for="form7Example6">Pin Code</label>
                      </div>
          
                    <!-- Message input -->
                    <div class="form-outline mb-4">
                      <textarea class="form-control" id="form7Example7" rows="4"></textarea>
                      <label class="form-label" for="form7Example7">Additional information</label>
                    </div>
          
                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-2">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form7Example8" checked />
                      <label class="form-check-label" for="form7Example8">
                        Create an account?
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          
            <div class="col-md-4 mb-4">
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h5 class="mb-0">Summary</h5>
                </div>
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                      Products
                      <span>$53.98</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                      Shipping
                      <span>Gratis</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                      <div>
                        <strong>Total amount</strong>
                        <strong>
                          <p class="mb-0">(including VAT)</p>
                        </strong>
                      </div>
                      <span><strong>$53.98</strong></span>
                    </li>
                  </ul>
          
                  <button type="button" class="btn btn-primary btn-lg btn-block">
                    Make purchase
                  </button>
                </div>
              </div>
            </div>
          </div>
        
        <script src="" async defer></script>
    </body>
</html>