<!DOCTYPE html>
{% load static%}
<html>
    <head>
        <style>
            body {
               
              background-image: url("{% static 'images/banner-bg.png' %}") ;
              background-size: fixed;
               
           }
           
           *[role="form"] {
               max-width: 530px;
               padding: 15px;
               margin: 0 auto;
               border-radius: 0.3em;
               background-image: url("{% static 'images/banner-bg.png' %}") ;
               background-size: 40px 40px norepeat;

               
           }
           
           *[role="form"] h2 { 
               font-family: 'Open Sans' , sans-serif;
               font-size: 40px;
               font-weight: 600;
               color: #000000;
               margin-top: 5%;
               text-align: center;
               text-transform: uppercase;
               letter-spacing: 4px;
           }
           
        </style>


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
            <form method="post" class="form-horizontal" enctype="multipart/form-data" role="form" >{% csrf_token %}
                <h2><u>Add Your Product</u></h2>
                <div class="form-group">
                    <label for="fullname" class="col-sm-3 control-label">Product Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" placeholder="Full Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label" style="margin-left: 4%;">Product Type</label>
                    <select class="form-select" aria-label="Default select example" style="width: 30%; margin-left: 7%;" name="p_type">
                    <option >--Select the type--</option>
                    <option value="Fashion">Fashion</option>
                    <option value="Jewellery">Jewellery</option>
                    <option value="Electronic">Electronic</option>
                    {% comment %} <option value="Personal Care">Personal Care</option>
                    <option value="Ayurveda">Ayurveda</option>
                    <option value="Health Devices">Health Devices</option>
                    <option value="Home Essentials">Home Essentials</option>
                    <option value="Health Condition">Health Condition</option> {% endcomment %}
                     </select>
                    {% comment %} <label for="place" class="col-sm-3 control-label">Product Type</label>
                    <div class="col-sm-9">
                        <input type="text" name="ptype" placeholder="dress,accessories..ect...." class="form-control" autofocus> {% endcomment %}
                    {% comment %} </div> {% endcomment %}
                </div>
                <div class="form-group">
                    <label for="age" class="col-sm-3 control-label">Product Size</label>
                    <div class="col-sm-9">
                        <input type="text" name="size" placeholder="Size Of The product" class="form-control" autofocus>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="brand" class="col-sm-3 control-label">Brand Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="brand" placeholder="Brand Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="product" class="col-sm-3 control-label">Product Price</label>
                    <div class="col-sm-9">
                        <input type="number" name="price" placeholder="Product Price" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-3 control-label">product Quality </label>
                    <div class="col-sm-9">
                        <input type="number" name="quality" placeholder="enter form of number 1 to 3" class="form-control">
                        <span class="help-block">Your phone number won't be disclosed anywhere </span>
                    </div>
                </div>
                 {% comment %} <div class="form-group">
                    <label for="vnumber" class="col-sm-3 control-label">Vehicle Number</label>
                    <div class="col-sm-9">
                        <input type="text" id="vnumber" placeholder="Vehicle number" class="form-control" autofocus>
                    </div>
                </div> {% endcomment %}
                <div class="form-group">
                    <label for="photo" class="col-sm-3 control-label">Upload Photo</label>
                    <div class="col-sm-9">
                        <input type="file" name="photo" placeholder="Photo" class="form-control" autofocus>
                    </div> 
                </div> 
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Product Color</label>
                    <div class="col-sm-9">
                        <input type="text" name="color" placeholder="color" class="form-control" name= "email">
                    </div>
                </div>
                <div class="form-group">
                   
                
                 <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Required fields</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Add Product</button>
            </form> <!-- /form -->
        </div> <!-- ./container -->

        <script src="" async defer></script>
    </body>
</html>