<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <table border=3>
            <tr>
                    <th>ID</th>
                    <th>empname</th>

                    <th>empemail</th>
                    <th>cmpname</th>
                    <th>designation</th>
                    <th>phone_number</th>
                    <th>update profile</th>
                    
            </tr>

        


        {% for i in data %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.empname}}</td>
            <td>{{i.email}}</td>
            <td>{{i.comname}}</td>
            <td>{{i.designation}}</td>
            <td>{{i.phone}}</td>
            <td><a href="http://127.0.0.1:8000/Calculator_app/empprofile/{{i.id}}" class="btn btn-primary">update data</a></td>

        </tr>
  
        

        {% endfor %}
    </table>


        
        <script src="" async defer></script>
    </body>
</html>