<!DOCTYPE html>
{% load static %}
<html>
    <head>
       
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body bgcolor="yellow">
        <div>
        <center>
        <h1><u><b><i>About Calculator</i></b></u></h1>
        <p align="justify">An electronic calculator is typically a portable electronic device used to perform calculations, ranging from basic arithmetic to complex mathematics.

            The first solid-state electronic calculator was created in the early 1960s. Pocket-sized devices became available in the 1970s, especially after the Intel 4004, the first microprocessor, was developed by Intel for the Japanese calculator company Busicom.
            
            Modern electronic calculators vary from cheap, give-away, credit-card-sized models to sturdy desktop models with built-in printers. They became popular in the mid-1970s as the incorporation of integrated circuits reduced their size and cost. By the end of that decade, prices had dropped to the point where a basic calculator was affordable to most and they became common in schools.
            
            Computer operating systems as far back as early Unix have included interactive calculator programs such as dc and hoc, and interactive BASIC could be used to do calculations on most 1970s and 1980s home computers. Calculator functions are included in most smartphones, tablets and personal digital assistant (PDA) type devices.
            
            In addition to general purpose calculators, there are those designed for specific markets. For example, there are scientific calculators which include trigonometric and statistical calculations. Some calculators even have the ability to do computer algebra. Graphing calculators can be used to graph functions defined on the real line, or higher-dimensional Euclidean space.
             As of 2016, basic calculators cost little, but scientific and graphing models tend to cost more.
       
        </p>
        <img src="{% static 'eye.png' %}" height="200px" width="200px">
        <audio  controls><source src="{% static 'sample.wav' %}" height="200px" width="200px"></audio>
        <video controls><source src="{% static 'sample.mp4' %}" height="200px" width="200px"></video>
        <a href="{% static 'Basic Rules  Formulas.pdf' %}" download>Here to download</a>
            </center>
    </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>