<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body bgcolor="yellow">
        <form method="post">{% csrf_token %}
        <center>
        <h1>Product Search</h1>
        <label>Product Name:</label>
        <input type="text" name="proname" placeholder="Enter Product name"><br><br>
        <label>Product Company</label>
        <input type="text" name="companyname" placeholder="Enter Company Name"><br><br>
        <input type="submit" value="Search">
       <input type="reset">
        </center>
    </form>

        
        <script src="" async defer></script>
    </body>
</html>