<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body bgcolor="yellow">
        <form method='post' enctype="multipart/form-data">{% csrf_token %}  
        <center>
        <h1>Files Upload</h1><br><br>
        <label>Audio File Name:</label>
        <input type="text" name="audioname" placeholder=" Audio File Name"><br><br>
        <label>Audio File </label>
        <input type="file" name="audiofile" placeholder="Upload file"><br><br>
        <label>Video File Name:</label>
        <input type="text" name="videoname" placeholder=" Video File Name"><br><br>
        <label>Video File </label>
        <input type="file" name="videofile" placeholder="Upload file"><br><br>
        <label>PDF File Name:</label>
        <input type="text" name="pdfname" placeholder=" PDF File Name"><br><br>
        <label>PDF File </label>
        <input type="file" name="pdffile" placeholder="Upload file"><br><br>

        <input type="submit" value="submit">
        <input type="reset">
        <script src="" async defer></script>
        </center>
    </form>
    </body>
</html>




{% comment %} enctype:it stands for encription type which is used to encript file fiels in html form {% endcomment %}